* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  background-color: lightgray;
}

#canvas {
  margin: 20px;
  display: block;
  background-color: white;
}
